<div class="m_top_card"></div>
<section class="wrapper">
  <div class="container-fluid">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
      <form class="rounded bg-white shadow p-5">
        <h3 class="text-dark fw-bolder fs-4 mb-2">Create an Account</h3>
        <div class="fw-normal text-muted mb-4">
          Already an User? <a href="" class="text-primary fw-bold text-decoration-none">Sign in here</a>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Email is already registered</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="fname" placeholder="First Name">
          <label for="fname">First Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="lname" placeholder="Last Name">
          <label for="lname">Last Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="name@example.com">
          <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" placeholder="Password">
          <label for="password">Password</label>
          <!-- <span class="password_info mt-2">
            Use 8 or more characters with a mix of letters, numbers & symbols.
          </span> -->
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password">
          <label for="cpassword">Confirm Password</label>
        </div>
        <button type="submit" class="btn btn-primary submit_btn w-100 my-4">Create Account</button>
      </form>
    </div>
  </div>
</section>